/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700;600&display=swap"); */

:root {
  --very-light-gray: hsl(240, 78%, 98%);
  --light-grayish-blue: hsl(234, 14%, 74%);
  --grayish-blue: hsl(233, 13%, 49%);
  --dark-grayish-blue: hsl(232, 13%, 33%);
}

html {
  margin: 0;
  padding: 0;
}

body {
  /* Strange background position needed to match design ref */
  background: #f7f7ff url(./images/bg-top.svg) 2500% top no-repeat;
  /* background-color: #f9f8fe; */
  font-family: "Montserrat", "Helvetica Neue", sans-serif;
  font-weight: 400;
  padding: 0;
  margin: 0;
  font-size: 15px;
  /* linear-gradient(180deg, #f7f7ff, #f6f6fe); */
  height: 100vh;
  width: 375px;
  margin: 0 auto;
  padding-top: 48px;
}

.hidden {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat"; /*, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; */
  font-weight: 600;
  color: var(--dark-grayish-blue);
}

p {
  font-family: "Montserrat", "Helvetica Neue", sans-serif;
  font-weight: 400;
  color: var(--very-dark-blue);
  font-size: 90%;
}

form,
input,
button {
  font-family: "Montserrat", "Helvetica Neue", sans-serif;
  letter-spacing: 0.1px;
}

.container {
  width: 375px;
  margin: 0 auto;
}

.center {
  text-align: center;
}

section {
}

header {
  text-align: center;
}

header .switch {
  color: var(--light-grayish-blue);
  margin-bottom: 64px;
}

header .switch img {
  margin: 0px 10px 0px 10px;
  position: relative;
  top: 8px;
}

.grid {
  display: grid;
  grid-template-columns: 100%;
}

.card {
  background-color: white;
  border-radius: 10px;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 40px;
  min-height: 256px;
  padding: 32px;
  text-align: center;
  color: var(--grayish-blue);
}
.card.active {
  background-image: linear-gradient(
    90deg,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
  color: #fff;
}
.card .price {
  font-size: 400%;
  margin: 16px 0px;
  font-weight: bold;
}
.card .storage,
.card .users,
.card .transfer {
  padding: 12px 0px;
  border-top: 1px solid #dcdcdc;
}
.card .transfer {
  border-bottom: 1px solid #dcdcdc;
}
.card .learn button {
  background-image: linear-gradient(
    90deg,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
  border-radius: 10px;
  width: 100%;
  padding: 16px 0px;
  color: white;
  text-transform: uppercase;
  border: 0px;
  margin-top: 32px;
  font-weight: bold;
}
.card.active button {
  background-image: none;
  background-color: #fff;
  color: hsl(237, 63%, 64%);
}

@media screen and (min-width: 480px) {
  body {
    margin: 0 auto;
    width: 1000px;
    background-color: #f7f7ff;
    background-image: url(./images/bg-top.svg), url(./images/bg-bottom.svg);
    background-position: 108% top, 0% bottom;
    background-repeat: no-repeat, no-repeat;
  }

  .grid {
    display: grid;
    grid-template-columns: auto auto auto;
  }

  div.card:not(.active) {
    margin-top: 20px;
  }
  div.card.active {
    margin-bottom: 20px;
  }
  div.card.left {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    position: relative;
    right: -2px;
  }
  div.card.right {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    position: relative;
    left: -2px;
  }
}
